@charset "UTF-8";

// variable
@import "./utils/variable";

* {
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  overflow-x: hidden;
}

html,
body,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  margin: 0;
}

header,
section,
nav,
article,
footer,
aside {
  display: block;
}

ul {
  list-style: none;
}

#app {
  font-family: $font-family;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;

  .nav {
    height: 10vh;
    padding-top: 3vh;
  }

  a {
    cursor: pointer;
    color: $color-black;
    text-decoration: none;
  }

  .bar {
    width: 10px;
    display: inline-block;
    text-align: center;
  }
}
