@charset "UTF-8";

@import "./utils/variable";

.rating-container {
  display: inline-block;
  .rating {
    margin-right: 5px;
    &.on {
      color: $color-blue-600;
    }
    &.off {
      color: $color-blue-grey-100;
    }
  }
}
