@charset "UTF-8";

@import "../utils/mixin";
@import "../utils/variable";

.col-card-contaier {
  display: inline-block;
  vertical-align: top;
  width: 33.33%;
  width: (100% / 3);
  position: relative;
  left: 2.5px;
  padding-right: 5px;
  padding-bottom: 5px;
  bottom: -2.5px;

  .card {
    margin-right: 5px;
    width: 100%;
    background-color: $color-grey-50;
    @include border_radius(2px, 10px);

    &__image {
      > a {
        width: 100%;
        background-position: 62%;
        background-size: cover;
        background-repeat: no-repeat;
        display: block;

        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }
      }
    }

    .card__info {
      height: 96px;
      position: relative;

      .label {
        padding: 5px;
      }

      .title {
        @include text_one_line;
        padding: 2px 5px 5px 5px;
      }

      .description {
        line-height: 1em;
        position: absolute;
        bottom: 10px;
        padding: 0 5px;
      }
    }

    .card__rating-comment {
      height: 56px;
      width: 100%;
      padding: 0px 5px 5px 5px;
      display: table;
      table-layout: fixed;

      > div {
        display: table-cell;
        vertical-align: middle;
      }

      .comment {
        @include text_one_line;
      }
    }
  }
}
