@charset "UTF-8";

.multi-line-text-container {
  width: 100%;
  margin: 10px;
  .multi-line-text {
    position: relative;
    width: fit-content;

    & > textarea {
      /* ie 스크롤바 없애기 */
      overflow: hidden;
    }

    .characters-counter {
      position: absolute;
      bottom: 8px;
      right: 26px;
    }
  }

  .btn--save {
    width: 50px;
    height: 30px;
  }
}
