$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);
$color-grey-50: rgb(250, 250, 250);
$color-grey-200: rgb(238, 238, 238);
$color-blue-grey-100: #cfd8dc;
$color-blue-600: rgb(30, 136, 229);

$font-family: ("Noto Sans JP", sans-serif);
